body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background : linear-gradient(to right, rgb(0, 255, 204), rgb(0, 30, 255));
/*  w3c */
}

button {
  cursor: pointer;
}
